.imglogo
{
height: 10%; width: 20%;
justify-content: center;
}
.custom-navbar {
    height: 110px;
}
h5{
    font-size: 25px;
}
.navbar-nav .nav-item {
    margin-right: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1185px){
    .bordas{
        width: 350px;
    }
    .bordas2{
        width: 350px;
    }
    #carouselExample {
        width: 700px !important;
        height: 600px !important;
    }
}
#carouselExample {
    width: 800px; 
    height: 400px; 
    margin-top: 50px;
   
   
 
}
.image-container {
    display: flex; /* Usar flexbox para colocar as imagens lado a lado */
    justify-content: center; /* Centralizar as imagens horizontalmente */
    align-items: center; /* Centralizar as imagens verticalmente */
}
.jogos
{
    margin-bottom: 80px;
}
.bordas
{
    
    border: 10px solid black;
    
}
.bordas2
{   
    margin-right: 50px;
    border: 10px solid black;  
}
h1{
    text-align: center;
    font-size: 50px;
    color: gold;
    margin-bottom: 40px;
    margin-top: 180px;
}
.h11{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    margin-top: 5%;
}
.carrosell{
    justify-items: center;
}
.foote{
    margin-bottom: 50px;
}
.textomar
{
    font-size: 20px;
}
.santastico{
    width: 600px;
    height: 600;
}

