<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./estilos.css')}}">
</head>

<body>
    <header>
        <span class="detalhe"></span>
        <div class="conteudo_header">
            <img src={{ url_for('static', filename='/IMG/logo.png')}}>
            <li>
                <a href="/">Home</a>
                <span class="detalhe_header"></span>
                <a href="quemsomos">Quem somos</a>
                <span class="detalhe_header"></span>
                <a href="contato">Contato</a>
            </li>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
        <p class="titulo" style="text-align: center;"><br><br><br> Todos os direitos reservados.
        </p>
    </main>
</body>

</html>