{% extends 'base.html' %} 
{% block title %}home{% endblock %}
{% block content %}
    <picture class="imagens">
            <img src={{ url_for('static', filename='/IMG/capa.png')}}>
        </picture>
        <p class="titulo"> Sobre a universidade </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti cum nobis iure beatae atque quos rem
            laboriosam fuga harum ab deserunt dignissimos dolores, perspiciatis minima accusantium, voluptate fugit eum
            porro! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam voluptatem quis nihil similique,
            nisi adipisci. Laudantium reiciendis nesciunt adipisci ea consectetur repellat, quas vero suscipit quaerat
            esse magni iste molestiae?
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid officiis, nihil delectus neque sequi
            inventore consequatur esse, consectetur harum error maiores, tempora assumenda culpa autem accusantium!
            Perspiciatis porro ea non? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, provident eius ut
            possimus cum aliquid iste nulla ex quia sapiente molestias, eum iusto sequi mollitia exercitationem in sint
            cumque expedita?
        </p>
{% endblock %}