{% extends 'base.html' %} 
{% block title %}home{% endblock %}
{% block content %}
        <p class="titulo"> 
            Quem somos 
        </p> <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolor, at quidem architecto veniam cupiditate accusantium 
            sint tempora? Odit perferendis iste dolores sapiente odio 
            officia. Ex cupiditate suscipit quam veniam iste!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Modi repudiandae aliquid dicta explicabo a atque, ex soluta 
            reprehenderit unde? Illum repellat exercitationem impedit 
            dolorem eos nostrum eligendi rem modi ullam.
        </p> <p class="titulo">
            5 motivos para estudar
        </p>
            <ol>
                <li style="display: list-item;">Material sempre atualizado</li>
                <li style="display: list-item;">Tablets em sala de aula</li>
                <li style="display: list-item;">Professores renomados</li>
                <li style="display: list-item;">Universidade bem avaliada</li>
                <li style="display: list-item;">Ótima localização</li>
            </ol>
        <p class="titulo">
            Objetivos  
        </p> <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Itaque reprehenderit minima cupiditate, corporis voluptates 
            eius quia illum animi suscipit fugiat inventore libero 
            voluptatum fuga dolore odit officia, veritatis iusto numquam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, 
            impedit hic iusto dolores in quaerat et ipsa molestias accusantium 
            quisquam eum, incidunt iure provident beatae, velit sint nostrum cupiditate 
            molestiae?
        </p>
{% endblock %} 